@inherits LayoutComponentBase

<div class="container-fluid">
    <div class="row">
        <div class="col-3">
            <NavMenu />
        </div>
        <div class="col-9">
            @Body
        </div>
    </div>
</div>
