/* wwwroot/css/site.css */
html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    padding: 20px;
}

footer {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
    position: relative;
    width: 100%;
}

.form-group {
    margin-bottom: 15px;
}

button {
    width: 100%;
    padding: 10px;
}

@media (max-width: 768px) {
    .form-group input {
        width: 100%;
    }

    button {
        width: 100%;
        padding: 10px;
    }
}
